.btn {
  color: blue;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;

  cursor: pointer;
}

.reset {
  color: red;
  outline: none;
  border: 1px solid purple;
  border-radius: 5px;
  cursor: pointer;
}